[submodule "wooc"]
	path = wooc
	url = https://gitlab.cinogama.com/cinogamaproject/woolangpackages/wooc.git
	branch = master
[submodule "3rd/asmjit"]
	path = 3rd/asmjit
	url = https://gitlab.cinogama.com/mr_cino/asmjit.git
	branch = oldstable
